@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400&family=Oswald:wght@200;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;
}

body{
    font-family: "Oswald", sans-serif;
}

.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100vw;
    padding: 0 10vw;

    a{
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }

    .nav-item{
        display: flex;
        list-style: none;
    
    }
}
