@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400&family=Oswald:wght@200;400;500;600&display=swap");

%flex-format {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

%card-format {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin: 2px;
}

%container-format {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  column-gap: 5px;
}

%menu-title-format{
  width: 100%;
  background-color: rgb(185, 232, 240);
  padding: 1rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
 /*  background-color: whitesmoke; */
 background-color: #f5f5f500;
}

body {
  display: grid;
  grid-template-rows: (1fr, 2fr, 1fr);
  margin: auto;
  row-gap: 5px;
}

.nav-item,
.nav-link,
.logo {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.header {
  background-color: rgb(202, 220, 228);
  .header-nav {
    padding-top: 20px;
    .navbar-nav {
      @extend %flex-format;
      list-style: none;
      .nav-link {
        display: inline-block;
        padding: 0px 20px;
        a {
          transition: all 0.3s ease 0s;
          &:hover {
            color: lightsalmon;
          }
        }
      }
    }
  }
}

.menu-title{
  @extend %menu-title-format
}

.container {
  @extend %container-format;
  .card {
    @extend %card-format;
    .card-title {
      width: 100%;
      background-color: rgb(185, 232, 240);
      padding: 1rem;
      text-align: center;
    }
    .price {
      text-align: right;
      font-weight: 2rem;
      margin-left: auto;
      padding: 5px;
    }
  }
}

.menu-title{
  @extend %menu-title-format
}

.footer {
  justify-content: end;
  text-align: center;
  font-size: 0.5rem;
}
