@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cookie&display=swap");

.site-title {
  font-family: cookie, cursive;
  font-size: 60px;
  font-style: italic;
  color: #000;
  text-shadow: 0 0 4px #fff;
  display: block;
  line-height: 1.5;
  font-weight: 400;
}

.site-title a {
  color: #222;
  text-decoration: none;
}

.site-description {
  font-size: 0.9375rem;
  line-height: 2;
}

.main-header {
  position: relative;
  line-height: 4;
  padding-left: 30px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.elementor-title-one {
  color: rgb(255, 255, 255);
  font-family: "Berkshire Swash", Sans-serif;
  font-size: 103px;
  font-weight: 900;
  text-align: center;
  background-color: none;
  
  
}

.elementor-background {
  background-image: url(../images/bg-primary.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 1951px;
  height: 1229px;
  padding-left: 200px;
  padding-top: 300px;

}


