@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400&family=Oswald:wght@200;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cookie&family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
.header .header-nav .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin: 2px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.menu-title {
  width: 100%;
  background-color: rgb(185, 232, 240);
  padding: 1rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /*  background-color: whitesmoke; */
  background-color: rgba(245, 245, 245, 0);
}

body {
  display: grid;
  grid-template-rows: 1fr, 2fr, 1fr;
  margin: auto;
  row-gap: 5px;
}

.nav-item,
.nav-link,
.logo {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.header {
  background-color: rgb(202, 220, 228);
}
.header .header-nav {
  padding-top: 20px;
}
.header .header-nav .navbar-nav {
  list-style: none;
}
.header .header-nav .navbar-nav .nav-link {
  display: inline-block;
  padding: 0px 20px;
}
.header .header-nav .navbar-nav .nav-link a {
  transition: all 0.3s ease 0s;
}
.header .header-nav .navbar-nav .nav-link a:hover {
  color: lightsalmon;
}

.container .card .card-title {
  width: 100%;
  background-color: rgb(185, 232, 240);
  padding: 1rem;
  text-align: center;
}
.container .card .price {
  text-align: right;
  font-weight: 2rem;
  margin-left: auto;
  padding: 5px;
}

.footer {
  justify-content: end;
  text-align: center;
  font-size: 0.5rem;
}

.site-title {
  font-family: cookie, cursive;
  font-size: 60px;
  font-style: italic;
  color: #000;
  text-shadow: 0 0 4px #fff;
  display: block;
  line-height: 1.5;
  font-weight: 400;
}

.site-title a {
  color: #222;
  text-decoration: none;
}

.site-description {
  font-size: 0.9375rem;
  line-height: 2;
}

.main-header {
  position: relative;
  line-height: 4;
  padding-left: 30px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.site-elementor-background {
  background-image: url(../images/bg-primary.jpg);
  background-color: rgba(0, 0, 0, 0.28);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.img-frill {
  position: relative;
  background: none;
  /*   left: 940px;
    top: -300px; */
  align-items: top;
  background-size: cover;
}

.img-fork {
  position: relative;
  background: none;
  /*   top: 100px;
    left: 350px; */
  background-size: cover;
  vertical-align: middle;
}

.img-knife {
  position: relative;
  background: none;
  vertical-align: middle;
  /*   top: 100px;
    left: 1150px; */
  background-size: cover;
}

/* .site-elementor-title {
  position: relative;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0px;
  text-shadow: 0px 0px 41px #000e14;
  display: flex;
  background: none;
  background-size: cover;
} */
.elementor-title-one {
  font-family: "Berkshire Swash", Sans-serif;
  position: relative;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0px;
  text-shadow: 0px 0px 41px #000e14;
  display: flex;
  background: none;
  background-size: cover;
  text-align: center;
}

.elementor-title-two {
  background: none;
  font-family: "Courgette", Sans-serif;
  color: #ff770f;
  position: relative;
  text-align: center;
  /*   right: 500px;
    top: 130px; */
  background-size: cover;
}

.elementor-title-three {
  font-family: sans-serif;
  background: none;
  font-size: 18px;
  position: relative;
  color: #ffffff;
  /*   right: 710px;
    top: 220px; */
  background-size: cover;
}

.elementor-title-four {
  background: none;
  font-family: "Courgette", Sans-serif;
  color: #ff770f;
  font-size: 32px;
  font-weight: inherit;
  position: relative;
  text-align: center;
  /*   left: 720px;
    top: -150px; */
  margin: 0;
  line-height: 1.4;
  background-size: cover;
}

.site-content-background {
  background-image: url("../images/pizza_restaurant1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 1951px;
  height: 1229px;
  padding-left: 200px;
  padding-top: 300px;
}

.heading-background-title {
  color: #ffffff;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 0px;
  text-shadow: 0px 0px 41px #000e14;
  display: flex;
  background: none;
}

.paragraph-title-call {
  background: none;
  font-family: "Berkshire Swash", Sans-serif;
}

.paragraph-title-call2 {
  background: none;
  font-family: "Josefin Sans", Sans-serif;
  color: #ffffff;
  text-decoration: underline;
  letter-spacing: 3px;
  font-size: 60px;
  padding-top: 20px;
}

.attachment-photo-footer {
  background: none;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  background-color: whitesmoke;
}/*# sourceMappingURL=global.css.map */